@import '../scss/typography.scss';

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    
    border-bottom: 1.5px solid #D8D8D8;
    flex-wrap: wrap;
    &:not(:first-child) {
        padding-top: 15px;
    }
}

.info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    .label {
        padding-left: 5px;
    }
}

.icon {
    height: 20px;
    img {
        height: 100%;
    }
}

.keywords {
    border-bottom: 1.5px solid #D8D8D8;
    padding: 10px 10px;
    .container {
        border: none;
        padding: 0;
    }
    
    .bubbles {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
    }
}
